In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

path="/content/drive/MyDrive/Dan/internship_train.csv"
dataframe = pd.read_csv(path)

In [ ]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90000 entries, 0 to 89999
Data columns (total 54 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       90000 non-null  int64
 1   1       90000 non-null  int64
 2   2       90000 non-null  int64
 3   3       90000 non-null  int64
 4   4       90000 non-null  int64
 5   5       90000 non-null  int64
 6   6       90000 non-null  float64
 7   7       90000 non-null  float64
 8   8       90000 non-null  int64
 9   9       90000 non-null  int64
 10  10      90000 non-null  int64
 11  11      90000 non-null  int64
 12  12      90000 non-null  int64
 13  13      90000 non-null  float64
 14  14      90000 non-null  float64
 15  15      90000 non-null  float64
 16  16      90000 non-null  float64
 17  17      90000 non-null  float64
 18  18      90000 non-null  float64
 19  19      90000 non-null  float64
 20  20      90000 non-null  float64
 21  21      90000 non-null  float64
 22  22      90000 non-null  float64
 23  23      90000 non-null  float64
 24  24      90000 non-null  float64
 25  25      90000 non-null  float64
 26  26      90000 non-null  float64
 27  27      90000 non-null  float64
 28  28      90000 non-null  float64
 29  29      90000 non-null  float64
 30  30      90000 non-null  float64
 31  31      90000 non-null  float64
 32  32      90000 non-null  float64
 33  33      90000 non-null  float64
 34  34      90000 non-null  float64
 35  35      90000 non-null  float64
 36  36      90000 non-null  float64
 37  37      90000 non-null  float64
 38  38      90000 non-null  float64
 39  39      90000 non-null  float64
 40  40      90000 non-null  float64
 41  41      90000 non-null  float64
 42  42      90000 non-null  float64
 43  43      90000 non-null  float64
 44  44      90000 non-null  float64
 45  45      90000 non-null  float64
 46  46      90000 non-null  float64
 47  47      90000 non-null  float64
 48  48      90000 non-null  float64
 49  49      90000 non-null  float64
 50  50      90000 non-null  float64
 51  51      90000 non-null  float64
 52  52      90000 non-null  float64
 53  target  90000 non-null  float64
dtypes: float64(43), int64(11)
memory usage: 37.1 MB

In [ ]:
dataframe.dropna(inplace=True)

dataframe = dataframe.astype(float)

In [ ]:
dataframe.head()

       0      1      2      3  ...         50         51         52     target
0  236.0  488.0   16.0  221.0  ...   9.046424   7.895535  11.010677  20.107472
1  386.0  206.0  357.0  232.0  ...   9.270888   3.173994  13.921871  61.763713
2  429.0   49.0  481.0  111.0  ...  11.255721  12.794841  12.080951  74.651162
3  414.0  350.0  481.0  370.0  ...   0.258284   9.317696   5.383098  69.424645
4  318.0  359.0   20.0  218.0  ...   6.816217   8.586960   4.512419  66.767304

[5 rows x 54 columns]

In [ ]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90000 entries, 0 to 89999
Data columns (total 54 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       90000 non-null  float64
 1   1       90000 non-null  float64
 2   2       90000 non-null  float64
 3   3       90000 non-null  float64
 4   4       90000 non-null  float64
 5   5       90000 non-null  float64
 6   6       90000 non-null  float64
 7   7       90000 non-null  float64
 8   8       90000 non-null  float64
 9   9       90000 non-null  float64
 10  10      90000 non-null  float64
 11  11      90000 non-null  float64
 12  12      90000 non-null  float64
 13  13      90000 non-null  float64
 14  14      90000 non-null  float64
 15  15      90000 non-null  float64
 16  16      90000 non-null  float64
 17  17      90000 non-null  float64
 18  18      90000 non-null  float64
 19  19      90000 non-null  float64
 20  20      90000 non-null  float64
 21  21      90000 non-null  float64
 22  22      90000 non-null  float64
 23  23      90000 non-null  float64
 24  24      90000 non-null  float64
 25  25      90000 non-null  float64
 26  26      90000 non-null  float64
 27  27      90000 non-null  float64
 28  28      90000 non-null  float64
 29  29      90000 non-null  float64
 30  30      90000 non-null  float64
 31  31      90000 non-null  float64
 32  32      90000 non-null  float64
 33  33      90000 non-null  float64
 34  34      90000 non-null  float64
 35  35      90000 non-null  float64
 36  36      90000 non-null  float64
 37  37      90000 non-null  float64
 38  38      90000 non-null  float64
 39  39      90000 non-null  float64
 40  40      90000 non-null  float64
 41  41      90000 non-null  float64
 42  42      90000 non-null  float64
 43  43      90000 non-null  float64
 44  44      90000 non-null  float64
 45  45      90000 non-null  float64
 46  46      90000 non-null  float64
 47  47      90000 non-null  float64
 48  48      90000 non-null  float64
 49  49      90000 non-null  float64
 50  50      90000 non-null  float64
 51  51      90000 non-null  float64
 52  52      90000 non-null  float64
 53  target  90000 non-null  float64
dtypes: float64(54)
memory usage: 37.8 MB

In [ ]:
X=dataframe.iloc[:,:-1].values
#y=dataframe[['target']].values
y=dataframe.iloc[:,-1:].values

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=0)
linr = LinearRegression()

linr.fit(X_train, y_train)
y_train_pred = linr.predict(X_train)
y_test_pred = linr.predict(X_test)

In [ ]:
path="/content/drive/MyDrive/Dan/internship_hidden_test.csv"
dataframe1 = pd.read_csv(path)
#dataframe1 = pd.read_csv('./internship_hidden_test.csv')
dataframe1.dropna(inplace=True)

dataframe1 = dataframe1.astype(float)

In [ ]:
dataframe1.head()

       0      1      2      3  ...         49         50         51         52
0  259.0  388.0  402.0  340.0  ...   7.634177   0.158196  13.432551   2.511191
1  441.0  192.0  381.0  421.0  ...  11.507599   9.107966   1.302407  11.105604
2   83.0  129.0  107.0  156.0  ...   4.638049   3.160023   2.243799   5.073030
3  183.0  438.0  191.0  116.0  ...   1.911520   8.365676   4.877288  11.601819
4  449.0  156.0  310.0  188.0  ...   1.680403  13.215111   5.823109   1.038015

[5 rows x 53 columns]

In [ ]:
X1 = dataframe1.iloc[:, :]

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, median_absolute_error, r2_score


print('MSE train: {:.3f}, test: {:.3f}'.format(
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_test, y_test_pred)))
print('R^2 train: {:.3f}, test: {:.3f}'.format(
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

MSE train: 834.554, test: 835.032
R^2 train: 0.001, test: -0.001

In [ ]:
y_test_pred1 = linr.predict(X1)

In [ ]:
y_test_pred1

array([[48.31727209],
       [50.79120518],
       [50.1492338 ],
       ...,
       [51.08976756],
       [50.40396324],
       [50.3482861 ]])

In [ ]:

import numpy as np


my_subm = pd.DataFrame({'Y': [y_test_pred1]})
my_subm.head()

                                                   Y
0  [[48.3172720878432], [50.79120518075433], [50....

In [ ]:
my_subm.to_csv('/content/drive/MyDrive/Dan/nec_nn.csv', index=False)